force-app/main/default/flows/Assign_Development_Team_Member.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignToDevelopmentTeamMember</name>
        <label>AssignToDevelopmentTeamMember</label>
        <locationX>1309</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>DevelopmentTeamMember.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Oppty_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DevelopmentTeamMember.TeamMemberRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Oppty_Team_Members.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DevelopmentTeamMember.DevelopmentAccessLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Oppty_Team_Members.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DevelopmentTeamMember.Development__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Development_Team_Members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!DevelopmentTeamMember.User__r.LastName} + &apos; &apos; + {!DevelopmentTeamMember.User__r.FirstName}</expression>
    </formulas>
    <interviewLabel>Create Development Team Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Development Team Member</label>
    <loops>
        <name>Iterate_Over_Oppty_Team_Members</name>
        <label>Iterate Over Oppty Team Members</label>
        <locationX>940</locationX>
        <locationY>382</locationY>
        <collectionReference>getOpptyTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToDevelopmentTeamMember</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Development_Team_Members</name>
        <label>Create Development Team Members</label>
        <locationX>939</locationX>
        <locationY>741</locationY>
        <connector>
            <targetReference>Update_Development_Team_Member_Name</targetReference>
        </connector>
        <inputReference>DevelopmentTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getOpptyTeamMembers</name>
        <label>getOpptyTeamMembers</label>
        <locationX>680</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Oppty_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Development_Team_Member_Name</name>
        <label>Update Development Team Member Name</label>
        <locationX>940</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Iterate_Over_Oppty_Team_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Development_Team_Members__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>554</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOpptyTeamMembers</targetReference>
        </connector>
        <object>Development__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Development</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Development__c</objectType>
    </variables>
    <variables>
        <name>DevelopmentTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DevelopmentTeamMember__c</objectType>
    </variables>
    <variables>
        <name>DevelopmentTeamMemberCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DevelopmentTeamMember__c</objectType>
    </variables>
</Flow>
